.contacts {
    margin-top   : 60px;
    position     : relative;
    margin-bottom: 60px;
}

.contacts__wrapper {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    margin-bottom  : 50px;
}

.contacts__title {
    margin-bottom: 40px;
    color        : #9dabb9;
}

.contacts__info {
    position: relative;
    z-index : 13;
    
}

.contacts__info-title {
    font-size     : 34px;
    text-transform: uppercase;
    margin-bottom : 40px;
    color         : #0affa1;
}

.contacts__info-subtitle {
    font-size: 38px;
    color    : #877575;
}

.contacts__info-pic {
    padding-right: 35px;
}

.maps__wrapper {
    position  : relative;
    filter    : brightness(80%);
    transition: all .6s ease-in-out;
}

.maps__wrapper:hover {
    filter: brightness(100%);
}

.fa-instagram,
.fa-facebook-official,
.fa-twitter {
    transition: all .5s;
    color     : #898989;
}

.fa-instagram:hover,
.fa-facebook-official:hover,
.fa-twitter:hover {
    color: #0ac2ff;
}