html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
    margin : 0;
    padding: 0;
}

li {
    list-style: none;
}

@font-face {
    font-family : 'Noto Sans';
    src         : url('../fonts/NotoSansRegular.woff2') format('woff2');
    font-display: swap;
    font-weight : 500;
    font-style  : normal;
}

@font-face {
    font-family : 'Noto Sans';
    src         : url('../fonts/NotoSansSemiBold.woff2') format('woff2');
    font-display: swap;
    font-weight : 700;
    font-style  : normal;
}

@font-face {
    font-family : 'Roboto';
    src         : url('../fonts/RobotoMedium.woff2') format('woff2');
    font-display: swap;
    font-weight : 600;
    font-style  : normal;
}

@font-face {
    font-family : 'Roboto';
    src         : url('../fonts/RobotoBold.woff2') format('woff2');
    font-display: swap;
    font-weight : 700;
    font-style  : normal;
}

:root {
    --color-dark  : #6a6868;
    --color-light : #959595;
    --color-accent: #6a7ff6;
}

a {
    text-decoration: none;
    color          : inherit;
}

body {
    margin         : 0;
    font-family    : 'Noto Sans', sans-serif;
    font-weight    : 500;
    overflow-anchor: none;
}

.btn {
    border          : none;
    border-radius   : 5px;
    padding         : 14px 0;
    cursor          : pointer;
    color           : #fff;
    background-color: var(--color-accent);
    transition      : background-color .3s ease-in-out;
    outline         : none;
}

.btn:hover {
    background-color: #1e41f3;
    transition      : background-color .3s ease-in-out;
}